% rebase('template/osnova.html', title='Domov')
<style>
    html {
      background-image: url('/static/img/odzadje2.jpg');
      background-size: cover;
            background-repeat: no-repeat;
    }
</style>

<h1 class="fs-1 fw-bold">Formula 1 skozi čas</h1>

<p>
    Dobrodošli na spletni strani zgodovine fromule 1. Tu si lahko ogledaš dirkače, dirkališča in ekipe med leti 1950 in 2023.
    <li>Če želiš si ogledati dirkače, klikni link <a href="/dirkaci">dirkači</a>.</li>
    <li>Če te zanimajo vse različne ekipe, ki so sodelovale v formuli 1, klikni link <a href="/ekipa">ekipe</a>.</li>
    <li>Če želiš si ogledati dirkališča, kjer so nastopali dirkači formule 1, klikni link <a href="/dirkalisca">dirkališča</a>.</li>
  </p>

